<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.lichen.garni">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <permission android:name="org.lichen.garni.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="org.lichen.garni.permission.C2D_MESSAGE" />

    <application
        android:name=".GarniApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_logo"
        android:label="@string/app_name">

        <meta-data android:name="net.hockeyapp.android.appIdentifier" android:value="${HOCKEYAPP_APP_ID}" />

        <activity
            android:name=".activities.LoginActivity"
            android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.UserInvoicesActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activities.AffectedInvoiceActivity"
            android:theme="@style/Theme.AppCompat.Light" />
        <activity
            android:name=".activities.InvoiceChangesActivity"
            android:theme="@style/Theme.AppCompat.Light" />

        <!-- GCM -->
        <receiver
            android:name="com.google.android.gms.gcm.GcmReceiver"
            android:exported="true"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="org.lichen.garni" />
            </intent-filter>
        </receiver>
        <service
            android:name="org.lichen.garni.services.GcmListenerService"
            android:exported="false" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <service
            android:name="org.lichen.garni.services.InstanceIDListenerService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.android.gms.iid.InstanceID" />
            </intent-filter>
        </service>
        <service
            android:name="org.lichen.garni.services.RegistrationIntentService"
            android:exported="false">
        </service>
    </application>

</manifest>
